* {
    --background:           rgba(18, 22, 26, 0.7);
    --background-solid:     rgba(25, 31, 36, 1);
    --background-alt:       rgba(25, 31, 36, 0.6);
    --background-alt-hover: rgba(25, 31, 36, 0.2);
    --foreground:           #FFFFFFFF; /* unused */
    --selected:             rgba(255, 239, 175, 1);
    --border-highlight:     rgba(255, 239, 175, 0.1);
    --selected-tinted:      rgba(255, 239, 175, 0.6);
    --active:               rgba(175, 255, 178, 1);
    --urgent:               rgba(255, 88, 73, 1);
    --label-color: var(--selected); 
}

:root {
    --accent-bg-color: var(--selected);
}
window {
    background-color: var(--background);
    color: var(--label-color);
}
preferencesgroup label {
    color: var(--custom_accent_color);
}
popover button label{
    background-color: transparent;
    color: var(--label-color);
}
box entry text {
    color: var(--label-color);
}

.about child {
    background-color: var(--bg-color-solid);
}
/* Gtk.GridView */
gridview label {
    color: var(--label-color);
}
/* Adw.Toast */
toast {
    background-color: var(--background-alt);
    color: var(--label-color);
    box-shadow: 0px 0px 12px 8px var(--background-alt-hover);
}
/* Gtk.ShortcutsWindow */
shortcut box label {
    color: var(--label-color);
}
/* Adw.Row */
row {
    background-color: var(--background-alt);
    color: var(--label-color);
    border-color: var(--border-highlight);
}
row:hover {
    background-color: var(--background-alt-hover);
}
row button{
    background-color: var(--background-alt);
    color: var(--label-color);
    border-color: var(--border-highlight);
    border-width: 1px;
}
row button:hover{
    background-color: var(--background-alt-hover);
}
row entry{
    background-color: var(--background-alt);
    border-color: var(--custom_accent_color2);
    border-spacing: 2px;
}
row spinbutton {
    background-color: var(--background-alt);
}
row image {
    color: var(--label-color);
}
/* Pill button */
.pill {
    background-color: var(--background);
    color: var(--label-color);
    border-color: var(--border-highlight);
    border-width: 1px;
}
.pill:hover{
    background-color: var(--selected);
    color: var(--background-solid);
}
.pill-revealer {
    box-shadow: 0px 0px 12px 8px var(--background-alt-hover);
    border-radius: 28px;
    border-color: var(--border-highlight);
    border-width: 1px;
}